.Error {
    font-size: 2rem;
    text-align: center;
    font-weight: bold;
    color: rgb(240, 61, 61);
}
.Success {
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    color: rgb(47, 175, 42);
}
.Normal {
    font-size: 2rem;
    text-align: center;
    font-weight: bold;
    color: rgb(56, 56, 56);
}
