.Button {
    background-color: transparent;
    border: none;
    color: white;
    outline: none;
    cursor: pointer;
    padding: 1rem;
    font-family: "Lato";
    font-size: 1.5rem;
    font-weight: bold;
}

.Button:first-of-type {
    margin-left: 0;
    padding-left: 0;
}

.Success {
    color: #5c9210;
}

.Danger {
    color: #944317;
}
